<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tlak-To-Ai</title>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">

        <!-- Custom dropdown -->
        <div class="custom-sel">
            <a class="selected" href="#">ENG &nbsp;<i class="fa fa-caret-down lightblue" aria-hidden="true"></i></a>
            <a class="hidden" href="#">EST</a>
            <a class="hidden" href="#">RUS</a>
            <a class="hidden" href="#">FIN</a>
        </div>

    </div>
    <div id="eyes" class="eyes">
        <div class="eye">
            <div class="pulse"></div>
        </div>
        <div class="eye">
            <div class="pulse"></div>
        </div>
    </div>

    <div id="bars" style="display: none;">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>

    <div class="dots-7" style="display:none;" id="load"></div>

    <button id="recButton"></button>
    <script src="https://kit.fontawesome.com/0d94e5aaa1.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/script.js"></script>

</body>

</html>
